# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: realworld.dev
    database_port: 3306
    database_name: realworld
    database_user: realworld
    database_password: realworld
    jwt_key_pass_phrase: jwttoken
    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'
    jwt_public_key_path: '%kernel.root_dir%/../var/jwt/public.pem'
    jwt_token_ttl: 3600
    mailer_transport: smtp
    mailer_host: realworld.dev
    mailer_user: null
    mailer_password: null
    secret: ThisTokenIsNotSoSecretChangeIt
